* { box-sizing: border-box; }

html,body {
  height:99%;
  width:100%;
}

.logo{
  border: thin solid green;
  width: 15%;
  height: 15%;
  float:left;
  border-radius:50%;
}

.img{
border: thin solid black;
width: 100%;
height: 100%;
float:left;
border-radius:50%;
}

.img2_1{
width: 63%;
height: 30%;

}


.img2_2{
width: 70%;
height:30%;
}


.img2_3{
width: 70%;
height:30%;

}
.img2_4{
width: 70%;
height:30%;

}

.img3{
width: 100%;
height:18.3%;

}

.img4{
width: 100%;
height:100%;
}

.img5{
  width: 30%;
  height:60%;

}

.left {
  border: thin solid black;
  width: 100%;
  height: 11%;
  background-color:#87e184;
  color:#fff;
  font-size:200%;
  float:left;
  opacity: .5;
}
.left2 {
  border: thin solid black;
  width: 100%;
  height: 70px;
  background-color:#87e184;
  color:#fff;
  font-size:180%;
  float:left;
  opacity: .5;
}



.imgleft{
    border: thin solid black;
    width: 10%;
    height: 9%;
    font-size:200%;
    float:left;
}
.img3_1{
    border: thin solid black;
    width: 100%;
    height: 100%;
    font-size:200%;
    float:left;
}

.top {
  border: thin solid black;
  width: 85%;
  height: 15%;
  background-color:#d591ff;
  color:#fff;
  font-size:300%;
  float:right;
  opacity: .5;
}

.top2 {
  border: thin solid black;
  width: 16.5%;
  height: 10%;
  background-color:#d591ff;
  color:#fff;
  font-size:195%;
  float:right;
  opacity: .5;
  margin: 0.25%;
}
.top3 {
  border: thin solid black;
  width: 16.5%;
  height: 10%;
  background-image: repeating-linear-gradient(black, orange ,yellow 10%, white 20%);
  font-size:130%;
  float:right;
  opacity: .5;
  margin: 0.25%;
}
.top4 {
  border: thin solid black;
  width: 16.5%;
  height: 10%;
  background-color:#d591ff;
  color:#fff;
  font-size:0%;
  float:right;
  opacity: .5;
  margin: 0.25%;
}
.angel {
  border: thin solid black;
  width: 16.5%;
  height: 10%;
  background-image: radial-gradient( green 10%, blue 85%);
  color:#fff;
  font-size:295%;
  float:right;
  opacity: .5;
  margin: 0.25%;
}

.XD {
  border: thin solid black;
  width: 48%;
  height: 72.5%;
  background-color:#87e184;
  color:#fff;
  font-size:40px;
  float:left;
  opacity: .5;
  margin: 0.40%;
}

.right{
  border: thin solid black;
  width: 35.2%;
  height: 53%;
  background-color:#87e184;
  float:right;
  opacity: .5;
  margin: 0.40%;
}

.right2{
  border: thin solid black;
  width: 35.4%;
  height: 17%;
  background-color:#fff;
  float:right;
  opacity: .5;
  margin: 0.20%;
}


.leftP{
  width: 15%;
  height: 80%;
  float:left;
}
<style type="text/css">
  .boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }

.miau{
  border: thin solid black;
  width: 8.6%;
  height: 100%;
  background-color:#d591ff;
  color:#fff;
  font-size:195%;
  float:left;
}
.miau2{
  border: thin solid black;
  width: 6.5%;
  height: 75%;
  background-color:#220b32;
  color:#fff;
  font-size:195%;
  float:left;
}
.kwak{
  border: thin solid black;
  width: 15.9%;
  height: 33.3%;
  background-image: linear-gradient(to right,orange, yellow);
  color:#fff;
  font-size:105%;
  float:right;
}
.cabra{
  border: thin solid black;
  width: 15.9%;
  height: 33.3%;
    background-image: linear-gradient(to right,white,gray, green, gray, white);
  color:#fff;
  font-size:105%;
  float:right;
}
.x{
  border: thin solid black;
  width: 15.9%;
  height: 33.3%;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  color:#fff;
  font-size:105%;
  float:right;
}
.daft{
  border: thin solid black;
  width: 33.333333%;
  height: 14.3%;
  background-image: radial-gradient( white 10%, black 85%);
  color:#fff;
  font-size:105%;
  float:left;
}
.blue{
  border: thin solid black;
  width: 33.333333%;
  height: 14.3%;
  background-image: linear-gradient(to right,blue, blue, purple, blue, blue );
  color:#fff;
  font-size:105%;
  float:left;
}
.barbie{
  border: thin solid black;
  width: 33.333333%;
  height: 14.3%;
  background-image: linear-gradient(to left,black, pink );
  color:#fff;
  font-size:105%;
  float:left;
}
.sandstorm{
  border: thin solid black;
  width: 33.333333%;
  height: 14.3%;
  background-image: linear-gradient(to right ,orange, yellow, brown 80%);
  color:#fff;
  font-size:70%;
  float:left;
}
.take{
  border: thin solid black;
  width: 33.333333%;
  height: 14.3%;
  background-image: repeating-radial-gradient(black, white, black, white, black, white );
  color:#fff;
  font-size:70%;
  float:left;
}
.pluma{  border: thin solid black;
  width: 33.333333%;
  height: 14.3%;
  background-image: linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet);
  color:#fff;
  font-size:70%;
  float:left;
}
.botton_music{  border: thin solid black;
  width: 33.333333%;
  height: 14.3%;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  color:#fff;
  font-size:70%;
  float:left;
}

#miCanvas {

text-align: center;
position: absolute;
float: left;
width: -10%;
height: -10%;
}

@media screen and (max-width: 800px) {
	.logo, .img , .XD, .right, .right2, .left, .left2, .imgleft, .top, .top2, .leftP, #miCanvas  {
    width: 100%;height:auto ;   }

  .img3 {width: auto;height: auto;max-width: 100%}
  .left2 { border: thin solid black;width: 100%;height: 10%;background-color:#87e184;color:#fff;font-size:180%;float:left;opacity: .5; }
  .cat_type{float: left; width: 25%; height: 40;  }
  .right{width: 100%;height: 40%; }
    .right2{width: 100%;height: 20%; }
  .img2_1{  width: 100%;  height:10%;  }
  .img2_2{  width: 100%;  height:40%;  }
  .img2_3{  width: 100%;  height:40%;  }
  .img2_4{  width: 100%;  height:10%;  }

}
